.calculator-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.75rem;
}

.span-two {
    grid-column: span 2;
}

.span-three {
    grid-column: span 3;
}

.btn {
    padding: 1.25rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}